<ion-view>
    <ion-content overflow-scroll="true" id="start-page">
        <div class="padding">
            <div class="row">
                <div class="col" id="top-sponsor">
                    Præsenteret af:
                    <br />
                    <img ng-src="images/sponsor/sponsor-top-large.png" alt="Alternate Text" />
                </div>
            </div>

            <div id="main-content">
                <h3 class="title">OM APP’EN</h3>

                <p class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultrices, leo id tempor dapibus, libero ex luctus turpis, fringilla malesuada neque diam sit amet nulla. Sed nisi ante, feugiat et sapien sed, porttitor dapibus justo. Curabitur vel odio nec est auctor mattis quis ut est. Pellentesque nec enim ut diam consequat commodo faucibus et ex. Cras vitae sapien egestas, hendrerit lectus et, pretium augue. Vivamus tincidunt a ante id viverra. Suspendisse eu aliquam magna. Quisque eu nisi eget sapien porttitor
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>