<ion-view>
    <ion-content overflow-scroll="true" id="start-page">
        <div class="padding">
            <div id="top-sponsor" class="padding">
                Præsenteret af:
                <br />
                <img ng-src="images/sponsor/sponsor-top-large.png" alt="Alternate Text" />
            </div>

            <div id="main-content" class="padding">
                <h3 class="title">HANDICAPET BEREGNING</h3>

                <div class="handicap padding">
                    <p>
                        Sådan bliver dit Golf Regel Handicap reguleret , skemaet viser hvor meget dit handicap går op eller ned efter hver runde
                    </p>
                    <p>
                        Vandret er din samlede score i dag
                    </p>
                    <p>
                        Lodret scoren for den seneste runde, der dermed påvirker handicappet
                    </p>

                    <img src="images/calculation.png" alt="Alternate Text" style="display: block; width: 100%;"/>

                    <p>
                        Så hvis din samlede score er 9 og din seneste runde er 29, så er din nye samlede score 9,8
                    </p>
                    <p>
                        Så hvis din samlede score er 26 og din seneste runde er 13, så er din nye samlede score 25
                    </p>
                    <p>
                        Så hvis din samlede score er 38 og din seneste runde er 25, s å er din nye samlede score 37
                    </p>
                    <p>
                        Så hvis din samlede score er 51 og din seneste runde er 47, så er din nye samlede score 50,5
                    </p>
                    <p>
                        Så hvis din samlede score er 51 og din seneste runde er 47, så er din nye samlede score 50,5
                    </p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>