<ion-view>
    <ion-content overflow-scroll="true" id="start-page">
        <div class="padding">
            <div id="top-sponsor" class="padding">
                Præsenteret af:
                <br />
                <img ng-src="images/sponsor/sponsor-top-large.png" alt="Alternate Text" />
            </div>

            <div id="main-content" class="padding">
                <h3 class="title">LOGIN</h3>

                <div class="list list-inset" style="background-color: transparent !important;">
                    <label class="item item-input" style="margin-bottom: 10px;">
                        <input type="text" placeholder="Navn">
                    </label>
                    <label class="item item-input" style="margin-bottom: 10px;">
                        <input type="text" placeholder="E-mail">
                    </label>
                    <label class="item item-input" style="margin-bottom: 10px;">
                        <input type="text" placeholder="Bekræft E-mail">
                    </label>
                    <label class="item item-input" style="margin-bottom: 10px;">
                        <input type="text" placeholder="Adgangskode">
                    </label>
                    <label class="item item-input" style="margin-bottom: 10px;">
                        <input type="text" placeholder="Bekræft kode">
                    </label>
                </div>

                <button class="button button-block button-positive">Submit</button>
            </div>
        </div>
    </ion-content>
</ion-view>
