<ion-view>
    <ion-content overflow-scroll="true" id="start-page">
        <div class="padding">
            <div id="top-sponsor" class="padding">
                Præsenteret af:
                <br />
                <img ng-src="images/sponsor/sponsor-top-large.png" alt="Alternate Text" />
            </div>

            <div id="main-content" class="padding">
                <h3 class="title">LOGIN</h3>

                <img src="images/facebook.png" alt="Alternate Text" style="display: block; width: 100%; height: 400px; margin-top: 10px;"/>
            </div>
        </div>
    </ion-content>
</ion-view>
