<ion-view>
    <ion-content overflow-scroll="true" id="start-page">
        <div class="padding">
            <div id="top-sponsor" class="padding">
                Præsenteret af:
                <br />
                <img ng-src="images/sponsor/sponsor-top-large.png" alt="Alternate Text" />
            </div>

            <div id="main-content" class="padding">
                <h3 class="title">LOGIN</h3>

                <a href="#" class="button button-block level-button" style="text-align: left !important; background-color: #4A90E2;" ui-sref="app.login-facebook">
                    Registrer med Facebook
                </a>

                <a href="#" class="button button-block level-button eagle" style="text-align: left !important;" ui-sref="app.login-register">
                    Opret bruger med email
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
