<ion-view>
    <ion-content overflow-scroll="true" id="start-page">
        <div class="padding">
            <div class="row">
                <div class="col" id="top-sponsor">
                    Præsenteret af:
                    <br />
                    <img ng-src="images/sponsor/sponsor-top-large.png" alt="Alternate Text" />
                </div>
            </div>

            <div id="main-content" class="profile">
                <h3 class="title">PERSONLIG PROFIL</h3>

                <div class="row">
                    <div class="col col-33">Navn:</div>
                    <div class="col col-67"><strong>Camille Jensen</strong></div>
                </div>

                <div class="row">
                    <div class="col col-33">Mail:</div>
                    <div class="col col-67"><strong>camillejensen@hotmail.com</strong></div>
                </div>

                <div class="row">
                    <div class="col col-33">Ranking:</div>
                    <div class="col col-67"><strong>2</strong></div>
                </div>

                <div class="row">
                    <div class="col col-33">Runder:</div>
                    <div class="col col-67"><strong>2</strong></div>
                </div>

                <div class="row">
                    <div class="col col-33">Venner:</div>
                    <div class="col col-67"><strong>Abraham Lee, <br />Bruce Hansen, <br />Gert Hansen, <br />Rasmus Klump</strong></div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>