<ion-view cache-view="false">
    <ion-content overflow-scroll="true" id="start-page">
        <div class="padding">
            <div class="row">
                <div class="col" id="top-sponsor">
                    Præsenteret af:
                    <br />
                    <img ng-src="images/sponsor/sponsor-top-large.png" alt="Alternate Text" />
                </div>
            </div>

            <div id="main-content">
                <h3 class="title">SPØRGSMÅL 1</h3>

                <p class="content question">Du slår et fantastisk drive og lander 5 cm fra flaget, da du når hen til bolden vil du lige vise dig lidt frem,med den ene hånd løfter du flaget og med den anden putter du bolden i, hvad er konsekvensen, da I spiller hulspil?</p>

                <div ng-if="choosen == ''" style="padding-top: 10px;">
                    <h3 class="title">NIVEAU</h3>
                    <a href="#" class="button button-block level-button birdie" ng-click="chooseLevel('birdie')">
                        <img ng-src="images/level/birdie-large.png" alt="Alternate Text" />
                        <span>-1 Point</span>
                    </a>
                    <a href="#" class="button button-block level-button eagle" ng-click="chooseLevel('eagle')">
                        <img ng-src="images/level/eagle-large.png" alt="Alternate Text" />
                        <span>-2 Point</span>
                    </a>
                    <a href="#" class="button button-block level-button albatross" ng-click="chooseLevel('albatros')">
                        <img ng-src="images/level/albatros-large.png" alt="Alternate Text" />
                        <span>-3 Point</span>
                    </a>
                </div>

                <h3 class="title" ng-if="answer != ''">SVAR</h3>

                <div class="birdie padding answer-content" ng-if="choosen == 'birdie' && answer == ''">
                    <img ng-src="images/level/birdie-large.png" alt="Alternate Text" />

                    <a href="#" class="button button-block answer-button" style="background-color: #EFECC6;" ng-click="chooseAnswer('correct')">
                        Answer 1
                    </a>
                    <a href="#" class="button button-block answer-button" style="background-color: #F1EB9D;" ng-click="chooseAnswer('wrong')">
                        Answer 2
                    </a>
                    <a href="#" class="button button-block answer-ads-button" style="background-color: #F3EA7B;">
                        <img ng-src="images/sponsor/ecco-small.png" alt="Alternate Text" class="ecco" />
                    </a>
                    <a href="#" class="button button-block answer-ads-button" style="background-color: #E6DB47;">
                        <img ng-src="images/sponsor/nikegolf-small.png" alt="Alternate Text" class="nikegolf" />
                    </a>
                </div>

                <div class="eagle padding answer-content" ng-if="choosen == 'eagle' && answer == ''">
                    <img ng-src="images/level/eagle-large.png" alt="Alternate Text" />

                    <a href="#" class="button button-block answer-button" style="background-color: #EFECC6;" ng-click="chooseAnswer('correct')">
                        Answer 1
                    </a>
                    <a href="#" class="button button-block" style="background-color: #F1EB9D;" ng-click="chooseAnswer('wrong')">
                        Answer 2
                    </a>
                    <a href="#" class="button button-block" style="background-color: #F3EA7B;" ng-click="chooseAnswer('wrong')">
                        Answer 3
                    </a>
                    <a href="#" class="button button-block answer-ads-button" style="background-color: #E6DB47;">
                        <img ng-src="images/sponsor/nikegolf-small.png" alt="Alternate Text" class="nikegolf" />
                    </a>
                </div>

                <div class="albatross padding answer-content" ng-if="choosen == 'albatros' && answer == ''">
                    <img ng-src="images/level/albatros-large.png" alt="Alternate Text" />

                    <a href="#" class="button button-block answer-button" style="background-color: #EFECC6;" ng-click="chooseAnswer('correct')">
                        Answer 1
                    </a>
                    <a href="#" class="button button-block answer-button" style="background-color: #F1EB9D;" ng-click="chooseAnswer('wrong')">
                        Answer 2
                    </a>
                    <a href="#" class="button button-block answer-button" style="background-color: #F3EA7B;" ng-click="chooseAnswer('wrong')">
                        Answer 3
                    </a>
                    <a href="#" class="button button-block answer-button" style="background-color: #E6DB47;" ng-click="chooseAnswer('wrong')">
                        Answer 4
                    </a>
                </div>

                <div class="padding correct" ng-if="answer == 'correct'">
                    <img ng-src="images/level/birdie-large.png" alt="Alternate Text" ng-if="choosen == 'birdie'" />
                    <img ng-src="images/level/eagle-large.png" alt="Alternate Text" ng-if="choosen == 'eagle'" />
                    <img ng-src="images/level/albatros-large.png" alt="Alternate Text" ng-if="choosen == 'albatros'" />

                    <br />

                    <p>Korrekt svar</p>

                    <br />

                    <p>
                        1 Strafslag<br />Se mere i www.xx.xx<br />§ 8 stk 4
                    </p>

                    <a href="#" class="button button-stable" style="float: right;" ui-sref="app.score-card">Fortsæt</a>
                </div>

                <div class="padding wrong" ng-if="answer == 'wrong'">
                    <img ng-src="images/level/birdie-large.png" alt="Alternate Text" ng-if="choosen == 'birdie'" />
                    <img ng-src="images/level/eagle-large.png" alt="Alternate Text" ng-if="choosen == 'eagle'" />
                    <img ng-src="images/level/albatros-large.png" alt="Alternate Text" ng-if="choosen == 'albatros'" />

                    <br />

                    <p>Forkert svar</p>

                    <br />

                    <p>Det korrekte svar er :</p>

                    <p>
                        1 Strafslag<br />Se mere i www.xx.xx<br />§ 8 stk 4
                    </p>

                    <a href="#" class="button button-stable" style="float: right;" ui-sref="app.score-card">Fortsæt</a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>