<ion-view>
    <ion-content overflow-scroll="true" id="start-page">
        <div class="padding">
            <div class="row">
                <div class="col" id="top-sponsor">
                    Præsenteret af:
                    <br />
                    <img ng-src="images/sponsor/sponsor-top-large.png" alt="Alternate Text" />
                </div>
            </div>

            <div id="main-content">
                <h1><strong>VELKOMMEN TIL GOLFICON</strong></h1>
                <p>FÅ DIT GOLF REGEL HANDICAP</p>

                <a href="#" ui-sref="app.start-game" class="start-button">
                    &nbsp;NYT SPIL
                </a>
                <a href="#" ui-sref="app.how-to-play" class="start-button">
                    &nbsp;HVORDAN SPILLER DU
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>