<ion-view>
    <ion-content overflow-scroll="true" id="start-page">
        <div class="padding">
            <div id="top-sponsor" class="padding">
                Præsenteret af:
                <br />
                <img ng-src="images/sponsor/sponsor-top-large.png" alt="Alternate Text" />
            </div>

            <div id="main-content" class="padding">
                <h3 class="title">INVITER</h3>

                <table class="padding invite" style="width: 100%;">
                    <thead>
                        <tr style="border-bottom:0;">
                            <td style="width: 85%;"></td>
                            <td style="width: 15%;">Score</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="">
                                <label class="checkbox">
                                    <input type="checkbox" checked>
                                </label>
                                <span class="name">Franz Beckerlee</span>
                            </td>
                            <td><span class="score-area">54</span></td>
                        </tr>
                        <tr>
                            <td>
                                <label class="checkbox">
                                    <input type="checkbox">
                                </label>
                                <span class="name">Bjørn Uglebjerg</span>
                            </td>
                            <td><span class="score-area">53</span></td>
                        </tr>
                        <tr>
                            <td>
                                <label class="checkbox">
                                    <input type="checkbox" checked>
                                </label>
                                <span class="name">Wili Jönsson</span>
                            </td>
                            <td><span class="score-area">51</span></td>
                        </tr>
                        <tr>
                            <td>
                                <label class="checkbox">
                                    <input type="checkbox">
                                </label>
                                <span class="name" checked>Kim Larsen</span>
                            </td>
                            <td><span class="score-area">48</span></td>
                        </tr>
                        <tr>
                            <td>
                                <label class="checkbox">
                                    <input type="checkbox">
                                </label>
                                <span class="name">Franz Beckerlee</span>
                            </td>
                            <td><span class="score-area">48</span></td>
                        </tr>
                        <tr>
                            <td>
                                <label class="checkbox">
                                    <input type="checkbox">
                                </label>
                                <span class="name">Bjørn Uglebjerg</span>
                            </td>
                            <td><span class="score-area">48</span></td>
                        </tr>
                        <tr>
                            <td>
                                <label class="checkbox">
                                    <input type="checkbox" checked>
                                </label>
                                <span class="name">Wili Jönsson</span>
                            </td>
                            <td><span class="score-area">48</span></td>
                        </tr>
                        <tr>
                            <td>
                                <label class="checkbox">
                                    <input type="checkbox">
                                </label>
                                <span class="name">Jesper Holme</span>
                            </td>
                            <td><span class="score-area">48</span></td>
                        </tr>
                        <tr>
                            <td>
                                <label class="checkbox">
                                    <input type="checkbox">
                                </label>
                                <span class="name">Torben Lyst</span>
                            </td>
                            <td><span class="score-area">48</span></td>
                        </tr>
                    </tbody>
                </table>
                <a href="#" class="button button-block level-button birdie" style="text-align:left;">
                    Inviter nye venner - skriv mail her
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>

