<ion-view cache-view="false">
    <ion-content overflow-scroll="true" id="start-page">
        <div class="padding">
            <div id="top-sponsor" class="padding">
                Præsenteret af:
                <br />
                <img ng-src="images/sponsor/sponsor-top-large.png" alt="Alternate Text" />
            </div>

            <div id="main-content" class="score padding">
                <h3 class="title">SCOREKORT</h3>
                <table style="width: 100%; margin-top: 10px;">
                    <thead>
                        <tr>
                            <td style="width:25%;">Spørgsmål</td>
                            <td style="width:50%;">Level</td>
                            <td style="width:25%;">Score</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>
                                <img ng-src="images/level/eagle-large.png" alt="Alternate Text" />
                            </td>
                            <td>54</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>
                                <img ng-src="images/level/birdie-large.png" alt="Alternate Text" />
                            </td>
                            <td>53</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>
                                <img ng-src="images/level/eagle-large.png" alt="Alternate Text" />
                            </td>
                            <td>51</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>
                                <img ng-src="images/level/albatros-large.png" alt="Alternate Text" />
                            </td>
                            <td>48</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>
                                <img ng-src="images/level/eagle-large.png" alt="Alternate Text" />
                            </td>
                            <td>48</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>
                                <img ng-src="images/level/albatros-large.png" alt="Alternate Text" />
                            </td>
                            <td>48</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

                <a href="#" class="button button-stable" style="float: right; margin-top: 10px;" ui-sref="app.final-score">Fortsæt</a>
            </div>
        </div>
    </ion-content>
</ion-view>
